.book-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.book-list h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #a600ff;

    font-weight: 800;
}

.add-book-link {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px 20px;
    background-color: #ea00ff;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    width: 50%;
    margin: 0 auto; 
    margin-bottom: 20px;
    font-weight: 500;
}

.add-book-link:hover {
    background-color:  #ea00ff47;
}
